<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root"></div>
    <script src="https://unpkg.com/react@16.3.1/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/prop-types@15.6.1/prop-types.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <script src="https://unpkg.com/vanilla-tilt@1.4.1/dist/vanilla-tilt.min.js"></script>
    <script type="text/babel">

        class Clock extends React.Component {
         
            constructor(props) {
                super(props);

                this.state = {
                    hour: new Date().getHours(),
                    minute: new Date().getMinutes(),
                    second: new Date().getSeconds(),
                    imageURL1: 'clock.png',
                    imageURL2: 'hour.png',
                    imageURL3: 'hour.png',
                    imageURL4: 'second.png'
                    }
                    
            }


            componentDidMount() {
                this.timerID = setInterval( () => this.tick(),
                1000
                );
            }

            tick() {
                let time = new Date()

                this.setState({
                    hour: (time.getHours() < 10 ? '0' : '') + time.getHours(),
                    minute: (time.getMinutes() < 10 ? '0' : '') + time.getMinutes(),
                    second: (time.getSeconds() < 10 ? '0' : '') + time.getSeconds()
                });
            }

            render() {
                let hourDeg = (this.state.hour *30) + (0.5 * this.state.minute)
                let minuteDeg = (this.state.minute * 6) + (0.1 * this.state.second)
                let secondDeg = this.state.second * 6;
                return (
                    <div className="clock">
                        <img id="clock" className="shako" src={this.state.imageURL1} />
                        <img id="hour" className="shako" src={this.state.imageURL2} style={{transform: 'rotate(' + hourDeg + 'deg)'}}/>
                        <img id="minute" className="shako" src={this.state.imageURL3} style={{transform: 'rotate(' + minuteDeg + 'deg)'}}/>
                        <img id="second" className="shako" src={this.state.imageURL4} style={{transform: 'rotate(' + secondDeg + 'deg)'}}/>
                        <h1>{this.state.hour + ':' + this.state.minute + ':' + this.state.second}</h1>
                    </div>
                );
            }
        }
        ReactDOM.render(<Clock />,document.getElementById('root'));
    </script>
</body>
</html>

