.clock {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}
.shako {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hour {
    top: 50px;
    height: 300px;
   
}
h1 {
    position: absolute;
    top: 400px;
    left: 150px;
}
